<%= link_to 'Home', events_path %>
<br>


<!--<div class="select">-->
  <%= label_tag :day %><br>
  <!--<%= select_tag :day, options_for_select(@start_times.sort) %>-->
<!--</div>-->
<p><%= @start_times %></p>
<table border="1">
  <thead>
  <tr>
    <th>Time</th>
    <th>Track 1</th>
    <th>Track 2</th>
    <th>Track 3</th>
    <th>Track 4</th>
    <th>Track 5</th>

  </tr>
  </thead>
  <tbody>
  <% @times.step(15.minutes).each do |time| %>
    <% parsed_time = Time.at(time) %>
    <tr>
      <td>
        <%= parsed_time.strftime('%H:%M') %>
      </td>
      <% (1..5).each do |number| %>
        <% background_color = nil %>
        <% lunch_event = @calendar['Break'].first %>
        <% track_events = @calendar["Track #{number}"] || [] %>
        <% track_events.each do |track_event| %>
          <% Rails.logger.info "parsed_time: #{parsed_time} / start: #{track_event.start} / end: #{track_event.finish}" %>
          <% break if background_color %>

          <% background_color = 'red' if parsed_time >= lunch_event.start && parsed_time <= lunch_event.finish %>
          <% if !background_color %>
            <% background_color = 'blue' if parsed_time >= track_event.start && parsed_time <= track_event.finish %>
          <% end %>

        <% end %>
        <td class="<%= background_color %>">&nbsp;</td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
